# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
__pycache__/
generate_*.py

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/captures/
android/app/build/
android/app/local.properties
android/app/upload-keystore.jks
*.jks
*.keystore
key.properties

# IDE & Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
